

#grid td{
    width: 40px;
    height: 40px;
    border: solid 1px;
}
#grid td.obstacle{
    background-color: red;
}

.has_car{
    background-color: yellow;
}
.has_passenger{
    background-color: blue;
}
.has_car.has_passenger{
    background-color: green;
}

#graph{
    margin: 10px;
}

.axis path,
.axis line{
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text{
    font-family: 'Arial';
    font-size: 13px;
}
.tick{
    stroke-dasharray: 1, 2;
}
.bar{
    fill: FireBrick;
}

