

.grid td{
    width: 20px;
    height: 20px;
    border: solid 1px;
}
.grid td.obstacle{
    background-color: red;
}

.has_car{
    background-color: yellow;
}
.has_passenger{
    background-color: blue;
}
.has_car.has_passenger{
    background-color: green;
}

.mean_container{
    margin-left: 60px;
    margin-top: 40px;
}
.mean_container .slider.slider-horizontal{
    width: 450px;
}

.standard_dev_container{
    margin-left: 50px;
    margin-top: 40px;
}
.standard_dev_container .slider.slider-vertical{
    height: 185px;
}

#graph{
    margin: 10px;
}

.axis path,
.axis line{
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text{
    font-family: 'Arial';
    font-size: 13px;
}
.tick{
    stroke-dasharray: 1, 2;
}
.bar{
    fill: FireBrick;
}

